.container__faq {
    height: auto;
    padding: 40px 104px;
}
.container__faq h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.mat-expansion-panel-header {
    background-color: var(--color-primary-400);
    height: 64px;
    border: 1px solid var(--color-segundary-900);
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: var(--color-primary-100) !important;
    height: 64px !important;
}

