<div class="flex justify-center header__container">
    <div class="flex flex-colum justify-center gap-24 header__content">
        <h6>Convierte cada gota en ganancia con nuestra tecnología especializada.</h6>
        <h1>Tratamiento químico <br> y optimización de hidrocarburos</h1>
        <p>Mayor eficiencia en cada barril, rotección total de tus equipos y cumplimiento ambiental garantizado</p>
        <button class="button-green flex flex-center justify-center">
            <span>
                CLICK
            </span>
            <span>
                AQUI
            </span>
            <i class="arrow__rithtop">
            </i>
        </button>
    </div>
</div>