<div class="footer__component flex flex-colum">
  <div class="footer__component-top flex">
    <div class="footer__component logo flex flex-colum">
      <img class="logo-white" src="imagenes/white-Logo.png" alt="logo" />
      <p>Cras sem odio, malesuada id diam id, tempus accumsan turpis.</p>
      <h5>Follow us</h5>
      <div class="flex gap-8">
        <img class="logo-footer" src="imagenes/facebook.png" alt="logo-facebook" />
        <img class="logo-footer" src="imagenes/tiktok.png" alt="logo-tiktok" />
        <img class="logo-footer" src="imagenes/instagram.png" alt="logo-instagram" />
        <img class="logo-footer" src="imagenes/youtube.png" alt="logo-youtube" />
        <img class="logo-footer" src="imagenes/linkedin.png" alt="logo-linkedin" />
      </div>
    </div>
    <div class="footer__component-info flex gap-16">
        <div class="footer__component about flex flex-colum gap-16">
            <h3>Contact us</h3>
          <div class="footer__componet-about-item flex gap-16">
            <img src="imagenes/whatsapp.png" alt="whatsapp" />
            +57 312 345 6789
          </div>
          <div class="footer__componet-about-item flex gap-16">
            <img src="imagenes/phone.png" alt="telephone" />
            01 8000 12 34 56
          </div>
          <div class="footer__componet-about-item flex gap-16">
            <img src="imagenes/mail.png" alt="mail" />
            contactlogoipsum.co
          </div>
        </div>
        <div class="footer__component legal flex flex-colum gap-16">
            <h3>Legal</h3>
          <a href="#">TERMS Y CONDITIONS</a>
          <a href="#">DATA POLICY</a>
          <a href="#">COOKIES POLICY</a>
        </div>
    </div>
  </div>
  <div class="footer__component-bottom flex flex-center">
    <span>Logo Ipsum - Todos los derechos reservados.</span>
    <p>
      Maecenas ex augue, ullamcorper in libero fringilla, pretium faucibus nisi.
      Aenean maximus sagittis ipsum, at sagittis risus vulputate et. Cras sem
      odio, malesuada id diam id, tempus accumsan turpis.
    </p>
  </div>
</div>
