<div class="contact__container flex">
  <div class="contact__container-info flex flex-colum gap-16">
    <h3>Únete a Nuestro Equipo en la Industria Petrolera</h3>
    <p>
        Forma parte de una empresa líder en exploración, producción y refinación de hidrocarburos. Completa el formulario y sé parte de nuestra comunidad de profesionales en el sector energético.
    </p>
    <img src="imagenes/oficinista.png" alt="oficinista" />
  </div>
  <div class="contact__container-form flex flex-colum">
    <form action="" class="form flex flex-colum gap-16">
        <mat-label class="label">
            Tipo de documento 
            <span>*</span>
        </mat-label>
        <mat-form-field>
            <mat-select placeholder="Selecciona el tipo de tu documento..." required>
                <mat-option value="one">CC</mat-option>
                <mat-option value="two">Pasaporte</mat-option>
                <mat-option value="three">Registro civil</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-label class="label">
            Numero de documento 
            <span>*</span>
        </mat-label>
        <mat-form-field>
            <input matInput type="number" placeholder="Ingresa tu número de documento..."/>
        </mat-form-field>
        <mat-label class="label">
            Nombre completo
            <span>*</span>
        </mat-label>
        <mat-form-field>
            <input matInput type="text" placeholder="Ingresa tu nombre completo..."/>
        </mat-form-field>
        <mat-label class="label">
            Correo electrónico
            <span>*</span>
        </mat-label>
        <mat-form-field>
            <input matInput type="email" placeholder="Ingresa tu correo electrónico..."/>
        </mat-form-field>
        <mat-label class="label">
            Número de celular
            <span>*</span>
        </mat-label>
        <mat-form-field>
            <input matInput type="tel" placeholder="+57      000 000 000"/>
        </mat-form-field>
        <div class="flex mat-checkbox">
            <mat-checkbox [formControl]="hideRequiredControl"></mat-checkbox>
            <p>Al enviar, aceptas los <a href="#">Términos y condiciones</a> y la <a href="#">Política de manejo de datos.</a></p>
        </div>
        <button type="submit" class="button-green flex flex-center justify-center">
            Click Here
            <i class="arrow__rithtop">
            </i>
        </button>
    </form>
  </div>
</div>
