<div class="flex flex-center container__nav">
  <div>
    <img src="imagenes/logo.png" alt="logo" />
  </div>
  <div class="flex">
      <div class="flex gap-16 flex-center">
        <button class="button flex flex-center justify-center"> 
            <i class="icon click"></i>
            Click Here 
        </button>
        <button class="button flex flex-center justify-center"> 
            <i class="icon money"></i>
            Click Here 
        </button>
      </div>
      <div>
        <mat-toolbar class="flex gap-16">
            <button mat-icon-button class="button-icon" aria-label="Example icon-button with share icon">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="button-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-toolbar>      
      </div>
  </div>
</div>
