<div class="container__banner flex flex-colum justify-center flex-center">
    <div class="container__banner-content flex-colum flex flex-center gap-24">
        <h3>Energía que impulsa el futuro

        </h3>
        <p>
          Lideramos la industria con soluciones innovadoras en exploración, producción y sostenibilidad energética. Nuestro compromiso es brindar energía confiable y eficiente para un mundo en constante evolución.
        </p>
          <button class="button-green flex flex-center">
            <i class="arrow__rithtop">
            </i>
            Descubre más
          </button>
    </div>
</div>
