<div class="container__banner flex flex-colum justify-center flex-center">
    <div class="container__banner-content flex-colum flex flex-center gap-24">
        <h3>Lorem ipsum: <br> dolor sit amet consectetur adipiscing</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam,
          himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae
          taciti mus metus tincidunt eu vestibulum nullam.
        </p>
          <button class="button-green flex flex-center">
            <i class="arrow__rithtop">
            </i>
            Click Here
          </button>
    </div>
</div>
