<div class="breadcrumb__container flex flex-center">
  <nav>
    <ng-container class="flex flex-center" *ngFor="let crumb of breadcrumbs; let last = last">
      <a *ngIf="!last" [routerLink]="crumb.url">
        <span *ngIf="crumb.icon" class="material-icons">{{ crumb.icon }}</span>
        {{ crumb.label }}
      </a>
      <span *ngIf="last">
        <span *ngIf="crumb.icon" class="material-icons">{{ crumb.icon }}</span>
        {{ crumb.label }}
      </span>
      <span *ngIf="!last"> / </span>
    </ng-container>
  </nav>
</div>
