.awards-container {
    margin: 0 104px 40px 104px;
    height: 70vh;
    background-color: var(--color-primary-400);
    border-radius: 16px;
}
.awards-container h3{
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 480px) {
    .awards-container  {
        margin: 36px 16px;
        height: auto;
    }
    .awards-container h3 {
        font-size: 24px;
        text-align: center;
    }
}