<div class="container__team flex ">
  <div class="container__team-title">
    <h3>Beneficios de ser parte de nuestro equipo</h3>
  </div>
  <div class="container__team-table">
    <ng-container *ngIf="asyncTabs | async as tabs; else loading">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="selectedTabIndex">
        <mat-tab *ngFor="let tab of tabs">
          <ng-template mat-tab-label>{{ tab.label }}</ng-template>
        </mat-tab>
      </mat-tab-group>
      <div class="container__team-table-image flex flex-center" *ngIf="tabs.length > 0">
        <img  [src]="tabs[selectedTabIndex]?.imageUrl" alt="Imagen">
        <p>{{ tabs[selectedTabIndex]?.description }}</p>
      </div>
    </ng-container>

    <ng-template #loading>
      <p>Loading tabs...</p>
    </ng-template>
  </div>
</div>

