.container__team {
    position: relative;
    gap: 80px;
    padding: 60px 104px;
}

.container__team-title {
    width: 45%;
}
.container__team-title h3 {
    font-size: 36px;
    font-weight: 700;
}

.container__team-table-image {
    padding: 16px 24px;
    gap: 40px;
}

.container__team-table-image img {
    border-radius: 14px;
    width: 400px;
    height: 234px;
}

.container__team-table-image p {
font-size: 16px;
white-space: pre-line;
}

@media (max-width: 480px) {
    .container__team  {
        padding: 36px 16px;
        height: auto;
        flex-wrap: wrap;
        height: auto;
        gap: 16px;
    }
    .container__team-title h3 {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
    .container__team-table {
        max-width: 400px;
    }
    .container__team-table-image {
        flex-direction: column;
        max-width: 350px;
    }
}